.tabBaseColor {
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
}

.body {
    width: 100% !important;
}

.flex {
    display: flex;
}

.MuiGrid-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
    padding: 10px;
}

.chat {
    height: calc(100% + 16px); /* 16 for the spacing between them (item of grid) */
}