body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  width: 100% !important;
}

.flex {
  display: flex;
}

.MuiGrid-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  padding: 10px;
}

.MuiGrid-item {
  height: calc(100% + 16px); /* 16 for the spacing between them (item of grid) */
}